@charset "UTF-8";
/* ========================================
   変数
======================================== */
/* ========================================
   Root
======================================== */
:root {
  --color-theme: #c9ab53;
  --color-theme-sub: #66572a;
  --color-theme2: #c6c39b;
  --color-white: #fff;
  --color-black: #333;
  --color-text: #333;
  --color-gray: #ddd;
  --easing: cubic-bezier(0.2, 1, 0.2, 1);
  --transition: 0.4s var(--easing);
}

body {
  color: var(--color-text);
}

#container a {
  color: var(--color-text);
}

/* ========================================
   Html
======================================== */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 172px;
}

@media screen and (max-width: 1250px) {
  html {
    scroll-padding-top: 92px;
  }
}