@charset "UTF-8";
/* ========================================
   変数
======================================== */
/* ========================================
   Root
======================================== */
:root {
  --color-theme: #c9ab53;
  --color-white: #fff;
  --color-black: #333;
}