@charset "utf-8";
@use "global" as *;

/* ========================================
   common
======================================== */
#container {
  background: #f5f5f5;
}
/* ========================================
   Haeder
======================================== */
#menu_button {
  display: block !important;
  position: absolute;
  z-index: 50;
  top: 0px;
  right: 0px;
  display: inline-block;
  font-size: 11px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-decoration: none;
  text-align: center;
}
#menu_button:before {
  font-family: "design_plus";
  content: "\f0c9";
  display: block;
  position: absolute;
  top: 31px;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 18px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#menu_button span {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

#mobile_menu {
  position: fixed;
  top: 0px;
  right: -400px;
  width: 400px;
  height: 100%;
  background: #66572a;
  overflow: auto;
  z-index: 9999;
  -webkit-transition: right 300ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: right 300ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
}
.open_menu #container:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}
.open_menu #mobile_menu {
  right: 0;
  box-shadow: -5px 0 20px 0 rgba(0, 0, 0, 0.4);
}

#mobile_menu #drawer_menu {
  width: 100%;
  margin: 0;
}
#mobile_menu #drawer_menu li {
  position: relative;
}
#mobile_menu #drawer_menu a {
  display: block;
  padding: 18px 20px;
  line-height: 1.6;
  overflow: hidden;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #504315;
}
#drawer_menu li ul {
  display: none;
}
#mobile_menu #drawer_menu ul ul a {
  padding-left: 32px;
}
#mobile_menu #drawer_menu .child_menu_button {
  display: block;
  position: absolute;
  text-align: center;
  width: 55px;
  height: 55px;
  right: 0px;
  top: 1px;
  z-index: 9;
  cursor: pointer;
}
#mobile_menu #drawer_menu .child_menu_button .icon:before {
  font-family: "design_plus";
  content: "\e90e";
  color: #fff;
  text-align: center;
  display: block;
  font-size: 12px;
  width: 12px;
  height: 12px;
  line-height: 12px;
  position: absolute;
  right: 22px;
  top: 25px;
}
#mobile_menu #drawer_menu a:hover,
#mobile_menu #drawer_menu .child_menu_button:hover {
  background: #c9ab53;
}
#mobile_menu #drawer_menu li.open > .child_menu_button .icon:before {
  content: "\e911";
}
/* ========================================
   footer
======================================== */
